/*
    Develop by: Glenn,Marie,Aj,Joshua;
    Theme: JAMG Ordering System;
*/
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    
}
h2{
    color: #2d3436;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 5px;
    left: 40%;
}
/*CSS for navbar section*/
.navbar{
    background-color: #dfe6e9;
}
.logo{
    width: 13%;
    float: left;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-white{
    color: black;
}
.menu ul{
    list-style-type: none;
}
.menu ul li
{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
.clearfix{
    clear: both;
    float: none;
}
.menu{
    line-height: 150px;

}
a{
    color: #e17055;
    text-decoration: none;
}
a:hover{
    color: #2d3436;
    transition: 0.3s;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #e17055;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #ff4757;
}
.error
{
  padding: 2%;
  color: red;
}
.success
{
  padding: 2%;
  color: green;
}


/*Material search css starts here!*/

.Materials-search{
    background-image: url(../images/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0 ;
}
.Materials-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/*CSS FOR CATEGORIES*/

.categories{
    padding: 4% 0;
    background-color: #b2bec3;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}

/*Css for Mart menu starts here!*/
.item-menu{
    background-color: #b2bec3;
    padding: 4%;
}
.item-menu-box{
    width: 43%;
    margin: 1%;
    float: left;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
}
.item-menu-img1{
    width: 20%;
    float: left;
}
.item-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.item-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.item-detail{
    font-size: 1rem;
    color: #b2bec3;

}

/*Css for Social*/

.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;

}
.social{
    background-color: #dfe6e9;
}
.footer{
    background-color: #dfe6e9;
}

/* for Order Section */
.order{
    width: 30%;
    margin: 0 auto;
}

.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}
.item-search{
    background-color: #b2bec3;
}


/*Css for mobile size */
@media only screen and (max-width:768px){
    .logo{
        width: 70%;
        float: none;
        margin: 1% auto;
    }
    .menu ul{
        text-align: center;
    }
    .Materials-search input[type="search"]{
        width: 90%;
        margin-bottom: 5%;
        padding: 2%;
    }
    .btn{
        width: 90%;
        padding: 4%;

    }
    .box-3{
        width: 90%;
        margin: 4% auto;

    }
    .Materials-search{
        padding: 20% 0;
    }
    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10% auto;
    }
    .item-menu{
        padding: 20% 0;
    }
    .item-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order-label{
        font-weight: bold;
        width: 70%;
    }
    .item-search{
        background-color: #b2bec3;
    }
    .team{
        width: 100%;
        float: none;
    }
    .team .team_member{
        width: 100%;
    }
    .team .team_member .team_img{
        width: 100%;
    }
    .wrapper{
        width: 100%;
    }
}

/*Css for About us*/

@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

.wrapper{
  margin-top: 1%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 54px;
  margin-bottom: 60px;
  text-align: center;
  color: #2d3436;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #b2bec3;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: black;
  font-size: 24px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: black;
  margin: 12px 0;
  font-size: 15px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
.dec{
    text-align: justify;
    color: #2d3436;
}

/* PRODUCTS */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
